#daohang{
    border-bottom:2px solid #ddd;  
    margin-top:5px;
}

 #footer{
    margin-top:50px;
}

#center{
    margin-top:10px;
}

table th,table td{
    font-size:14px;
}

#order-table td{
	line-height:200px;
	width:12.5%;
}

table th,table tr{
	text-align:center;
}