{include file="../common/header.html" title="商品管理" nav_active="active"}
            <!--中间部分-->
                <div class="col-md-12"><a class="btn btn-primary" href="/admin/active/add">添加活动</a></div>
                <div class="col-md-12" style="height:10px"></div>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover">
                        <tr><th>ID</th><th>活动名称</th><th>开始时间</th><th>结束时间</th><th>状态</th><th>操作</th></tr>
						{foreach $actives as $k=>$v}
                        <tr>
							<td>{$v['id']}</td>
							<td>{$v['title']}</td>
							<td>{date("Y-m-d H:i:s",$v['time_begin'])}</td>
							<td>{date("Y-m-d H:i:s",$v['time_end'])}</td>
							<td>{$v["sys_status"]}</td>
							<td><a href="/admin/active/edit?id={$v['id']}">编辑</a> | 
								{if  $v["sys_status"]!=1}<a href="/admin/active/online?id={$v['id']}">上线</a>{/if}
								{if  $v["sys_status"]==1}<a href="/admin/active/delete?id={$v['id']}">下线</a>{/if}
								
							</td>
							</tr>
                        {/foreach}
                        
                    </table>
                </div>
                <!--结束-->
{include file="../common/footer.html"}                
