{include file="../common/header.html" title="秒杀商品列表"}
<script src="/static/js/main.js"></script>
            <!--中间部分-->
                
                <div class="col-md-12" style="height:10px"></div>
                <div class="col-md-12">
				{foreach $goods as $k=>$v}
                    <div class="col-md-3"  style="margin-top:10px">
                        <div>
                            <img src="{__STATIC__}/images/{$v['img']}" class="col-md-12">
                        </div>
                        <br/>
                        <p>活动:{$active[$v["active_id"]]["title"]}</p>
                        <p>商品:{$v['title']}</p>
                        <p>价格:{$v['price_normal']}</p>
                        <p>原价:{$v['price_discount']}</p>
                        <p>库存:{$v['num_left']}</p>
						{if $v["sys_status"] == $status["online"]}
							{if $v["num_left"] > 0}
							<p><a class='btn btn-primary buy-btn' aid="{$v['active_id']}" gid="{$v['id']}" max-num="{$v['num_user']}">立即抢购</a>  <a class='btn btn-warning cart-btn' aid="{$v['active_id']}" gid="{$v['id']}">加入购物车</a></p>
							{else}
							<p><a class="btn btn-danger" style="width:70%">该商品已无库存</a></p>
							{/if}
						{elseif $v["sys_status"] == $status["to_be_online"]}
						<p><a class="btn btn-danger" style="width:70%">该商品待上线</a></p>
						{else}
						<p><a class="btn btn-danger" style="width:70%">该商品已下线</a></p>
						{/if}
                    </div>
                {/foreach}
                </div>
                <!--结束-->
				
				<!--模态框-->
				<div id="modal" class="modal fade" tabindex="-1" role="dialog">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <form method="post" action="/index/buy/order">
						  <div class="modal-body">
							
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary submit-order">提交</button>
						  </div>
						</div>
                        </form><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				<!--结束-->
{include file="../common/footer.html"}                
                
                
                
            